<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>PrevBuiltInLayoutSettings</key>
	<dict>
		<key>After</key>
		<dict>
			<key>main</key>
			<dict>
				<key>Corkboard</key>
				<dict>
					<key>SCRCorkboardArrangeByLabel</key>
					<integer>0</integer>
					<key>SCRCorkboardCardHeightRatio</key>
					<real>3.3329999999999997</real>
					<key>SCRCorkboardCardWidth</key>
					<real>300</real>
					<key>SCRCorkboardCardsAcross</key>
					<integer>-1</integer>
					<key>SCRCorkboardInterCardSpacing</key>
					<real>30</real>
					<key>SCRCorkboardKeywordChips</key>
					<integer>5</integer>
					<key>SCRCorkboardShowCardNumbers</key>
					<false/>
					<key>SCRCorkboardSizeCardsToFit</key>
					<true/>
				</dict>
				<key>Outliner</key>
				<dict>
					<key>SCROutlinerColumnOrder</key>
					<array>
						<string>padding</string>
						<string>title</string>
					</array>
					<key>SCROutlinerColumnWidths</key>
					<dict>
						<key>padding</key>
						<real>133</real>
						<key>title</key>
						<real>600</real>
					</dict>
					<key>SCROutlinerHidesIcons</key>
					<false/>
					<key>SCROutlinerShowsKeywordsAsChips</key>
					<true/>
					<key>SCROutlinerShowsNumbers</key>
					<false/>
					<key>SCROutlinerShowsTitlesOnly</key>
					<false/>
					<key>SCROutlinerUsesFixedHeightRows</key>
					<false/>
				</dict>
			</dict>
			<key>supporting</key>
			<dict>
				<key>Corkboard</key>
				<dict>
					<key>SCRCorkboardArrangeByLabel</key>
					<integer>0</integer>
					<key>SCRCorkboardCardHeightRatio</key>
					<real>3.3329999999999997</real>
					<key>SCRCorkboardCardWidth</key>
					<real>300</real>
					<key>SCRCorkboardCardsAcross</key>
					<integer>-1</integer>
					<key>SCRCorkboardInterCardSpacing</key>
					<real>30</real>
					<key>SCRCorkboardKeywordChips</key>
					<integer>5</integer>
					<key>SCRCorkboardShowCardNumbers</key>
					<false/>
					<key>SCRCorkboardSizeCardsToFit</key>
					<true/>
				</dict>
				<key>Outliner</key>
				<dict>
					<key>SCROutlinerColumnOrder</key>
					<array>
						<string>title</string>
						<string>label</string>
						<string>status</string>
						<string>sectionType</string>
					</array>
					<key>SCROutlinerColumnWidths</key>
					<dict>
						<key>label</key>
						<real>85</real>
						<key>sectionType</key>
						<real>100</real>
						<key>status</key>
						<real>85</real>
						<key>title</key>
						<real>275</real>
					</dict>
					<key>SCROutlinerHidesIcons</key>
					<false/>
					<key>SCROutlinerShowsKeywordsAsChips</key>
					<true/>
					<key>SCROutlinerShowsNumbers</key>
					<false/>
					<key>SCROutlinerShowsTitlesOnly</key>
					<false/>
					<key>SCROutlinerUsesFixedHeightRows</key>
					<false/>
				</dict>
			</dict>
		</dict>
		<key>Before</key>
		<dict>
			<key>main</key>
			<dict>
				<key>Corkboard</key>
				<dict>
					<key>SCRCorkboardArrangeByLabel</key>
					<integer>0</integer>
					<key>SCRCorkboardCardHeightRatio</key>
					<real>3.3329999999999997</real>
					<key>SCRCorkboardCardWidth</key>
					<real>300</real>
					<key>SCRCorkboardCardsAcross</key>
					<integer>-1</integer>
					<key>SCRCorkboardInterCardSpacing</key>
					<real>30</real>
					<key>SCRCorkboardKeywordChips</key>
					<integer>5</integer>
					<key>SCRCorkboardShowCardNumbers</key>
					<false/>
					<key>SCRCorkboardSizeCardsToFit</key>
					<true/>
				</dict>
				<key>Outliner</key>
				<dict>
					<key>SCROutlinerColumnOrder</key>
					<array>
						<string>title</string>
						<string>label</string>
						<string>status</string>
						<string>sectionType</string>
					</array>
					<key>SCROutlinerColumnWidths</key>
					<dict>
						<key>label</key>
						<real>85</real>
						<key>sectionType</key>
						<real>100</real>
						<key>status</key>
						<real>85</real>
						<key>title</key>
						<real>275</real>
					</dict>
					<key>SCROutlinerHidesIcons</key>
					<false/>
					<key>SCROutlinerShowsKeywordsAsChips</key>
					<true/>
					<key>SCROutlinerShowsNumbers</key>
					<false/>
					<key>SCROutlinerShowsTitlesOnly</key>
					<false/>
					<key>SCROutlinerUsesFixedHeightRows</key>
					<false/>
				</dict>
			</dict>
			<key>supporting</key>
			<dict>
				<key>Corkboard</key>
				<dict>
					<key>SCRCorkboardArrangeByLabel</key>
					<integer>0</integer>
					<key>SCRCorkboardCardHeightRatio</key>
					<real>3.3329999999999997</real>
					<key>SCRCorkboardCardWidth</key>
					<real>300</real>
					<key>SCRCorkboardCardsAcross</key>
					<integer>-1</integer>
					<key>SCRCorkboardInterCardSpacing</key>
					<real>30</real>
					<key>SCRCorkboardKeywordChips</key>
					<integer>5</integer>
					<key>SCRCorkboardShowCardNumbers</key>
					<false/>
					<key>SCRCorkboardSizeCardsToFit</key>
					<true/>
				</dict>
				<key>Outliner</key>
				<dict>
					<key>SCROutlinerColumnOrder</key>
					<array>
						<string>title</string>
						<string>label</string>
						<string>status</string>
						<string>sectionType</string>
					</array>
					<key>SCROutlinerColumnWidths</key>
					<dict>
						<key>label</key>
						<real>85</real>
						<key>sectionType</key>
						<real>100</real>
						<key>status</key>
						<real>85</real>
						<key>title</key>
						<real>275</real>
					</dict>
					<key>SCROutlinerHidesIcons</key>
					<false/>
					<key>SCROutlinerShowsKeywordsAsChips</key>
					<true/>
					<key>SCROutlinerShowsNumbers</key>
					<false/>
					<key>SCROutlinerShowsTitlesOnly</key>
					<false/>
					<key>SCROutlinerUsesFixedHeightRows</key>
					<false/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>QRPanelSettings</key>
	<dict>
		<key>368FD22B-36D7-43DD-88F4-3A420C7FC9BA</key>
		<dict>
			<key>BinderUUID</key>
			<string>368FD22B-36D7-43DD-88F4-3A420C7FC9BA</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>727</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>708 58 727 819 0 0 1440 877 </string>
		</dict>
		<key>5FBFCBF9-8D1B-4F12-B428-CC88FFCE5EA8</key>
		<dict>
			<key>BinderUUID</key>
			<string>5FBFCBF9-8D1B-4F12-B428-CC88FFCE5EA8</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>659</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>781 56 659 821 0 0 1440 877 </string>
		</dict>
		<key>888C187B-B0EA-4A1C-8C30-272DB294AAC4</key>
		<dict>
			<key>BinderUUID</key>
			<string>888C187B-B0EA-4A1C-8C30-272DB294AAC4</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>519</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1.25</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>921 56 519 821 0 0 1440 877 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 747}}</string>
		<string>{{176, 0}, {664, 747}}</string>
	</array>
	<key>binderWidth</key>
	<real>175</real>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0C75A7DA-ADEB-4B9F-802B-0FFD0DF4778F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1DEC2A30-8D19-4E1F-8AB1-463C099CEEEF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>25B1FF23-BFC6-4E3B-9A82-093F1343FB4F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>368FD22B-36D7-43DD-88F4-3A420C7FC9BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>391592DD-E87C-4F21-95BD-BD08BC4E6219</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3A13EE87-B80A-487A-90BF-5A314B393984</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5FBFCBF9-8D1B-4F12-B428-CC88FFCE5EA8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8272BAE1-D4AA-493C-96CE-FB49EABE4F2D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8563D2AF-B5CF-45D6-A871-BDDD91BE0D14</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>888C187B-B0EA-4A1C-8C30-272DB294AAC4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A7B76768-A3E4-40A4-BDF9-7733C3C8864F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A9004A85-8564-4D12-98D8-3E5AAD5B485F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B64C81BF-7E1E-4EF9-8019-2214763D8845</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF3DC9A7-DE49-4962-9F92-D6080F57EF25</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E8F5CE99-C61E-4490-862F-62B36AEA96C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA556837-5132-4270-A308-59FD7A17C6FF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FD1658D9-CEBF-4B87-B27A-2471E0CD97A0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{441, 0}, {440, 761}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 745}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>padding</key>
		<real>10</real>
		<key>title</key>
		<real>600</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 798.39999999999998}, {519.20000000000005, 552.80000000000007}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>600 108 840 769 0 0 1440 877 </string>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
	</dict>
	<key>supportingDocumentEditor.qrSplitFrame</key>
	<array>
		<string>{{0, 0}, {440, 365}}</string>
		<string>{{0, 366}, {440, 365}}</string>
	</array>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
